# Copy this to /etc/Wywy-Website-Control/config/.env.network and edit.
AGENTIC_API_HOST=localhost
AGENTIC_API_PORT=2524
AGENTIC_WEBSITE_HOST=localhost
AGENTIC_WEBSITE_PORT=2525
AGENTIC_WEBSITE_DEV_PORT=3000

PUBLIC_AGENTIC_API_HOST=localhost
PUBLIC_AGENTIC_API_PORT=2524

# Allowed hosts for agentic dev server (comma-separated).
ALLOWED_HOSTS=localhost

# The values below this line do not need to be changed.
###################################################################################
# docker hostname
AGENTIC_API_DOCKER_HOST=django
CI_PORT=2526

# CI (Wywy-CI)
PUBLIC_CI_API_HOST=localhost
PUBLIC_CI_API_PORT=2526
